<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/403.css') }}">
    <title>Restricted Page :(</title>
</head>
<body>
    <div class="wrapper">
        <div class="box">
        <h1>403</h1>
        <p>Sorry, it's not allowed to go beyond this point!</p>
        <p><a onclick="history.back()">Please, go back this way.</a></p>
        </div>
        </div>
</body>
</html>