{% extends 'base.html' %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card-styles.css') }}" >
{% endblock %}
    
{% block content %}

        <main>
        <div class="container py-4">
          <header class="pb-3 mb-4 border-bottom">
            <i class="bi bi-bell-fill bi-lg" style="font-size:24px;"></i>
              <span class="fs-4">Notifications Page</span>
            </a>
          </header>
    {% if buyer_msg %}

      {% for item in buyer_msg %}
            {% if item.type == 0 %}
              <div class="fm-content accepted" id="accepted">
                <form>
                  <fieldset disabled>
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title yellow-text">Purchase Intent Alert</h5>
                          <br>
                          <p class="card-text text-white">
                            We have received the confirmation message sent and have verified it. Please wait while we contact the seller
                            so as to send you the account credentials to acertain validity of the account.

                          </p>
                          
                          <br>

                          <h5 class="card-title yellow-text mb-2">Purchased Account Details:</h5>
                          <table class="table table-dark table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Account Name</th>
                                <th scope="col">Account Type</th>
                                <th scope="col">Account Brand</th>
                                <th scope="col">Account Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{item.account.account_name}}</td>
                                <td>{{item.account.account_type.value | replace("_", "  ") | title}}</td>
                                <td>{{item.account.brand}}</td>
                                <td>{{item.account.price}}</td>
                              </tr>
                            </tbody>
                          </table>
                            
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3 text-white">
                  <p class="text">
                      <p><i class="bi bi-calendar3 me-2"></i><span>{{ moment(item.time_posted).format('LLL') }}.</span></p>
                      <input class="btn btn-primary close_accept" type="button" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">
                      <br/>                  
                  </div> 
                </form>
              </div>
              <br>
            {% endif %}

            {% if item.type == 1 %}
              <div class="fm-content" id="rejected">
                <form>
                  <fieldset disabled>
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title text-white">Verification Message Failed Alert</h5>
                          <p class="card-text text-white">
                            The confirmation message sent to us failed to be authenticated within the given time. please contact our suppport 
                            centre for assistance or try again.
                          </p>
                       
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3 text-white">
                  
                      
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>
                      
                      <input class="btn btn-primary" type="submit" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">
                      <br/>                  
                  </div> 
                </form>
              </div>
              <br>
            {% endif %}

            {% if item.type == 2 %}
              {% if accounts %}
                {% for account in accounts %}

                <div class="accordion fm-content" id="accordionExample">    
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body ">
                        <fieldset disabled>
                          <div class="mb-3 title-time-display">
                              <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                              <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                          </div>

                          <div>
                            <p class="mb-3 text-white">
                              This is the credentials for account {{ account.account_name }}. Check the account credentials, 
                              status to validate authenticity of the account before clicking the confirmation button.
                              <br>
                              <i class="bi bi-exclamation-triangle warning-red">
                                Do not change account credentials in this step.
                              </i>
                            </p>
                          </div>
       
                          <div class="mb-3">
                            <label for="disabledTextInput" class="form-label text-white">Account Email</label>
                            <input type="text" id="account-val" value="{{account.account_email}}" class="form-control" placeholder="Disabled input">
                          </div>
  
                          <div class="mb-3">
                            <label for="disabledTextInput" class="form-label text-white">Account Url</label>
                            <input type="text" id="account-val" value="{{account.account_url}}" class="form-control" placeholder="Disabled input">
                          </div>
  
                          <div class="mb-3">
                            <label for="disabledTextInput" class="form-label text-white">Account Passphrase</label>
                            <input type="text" id="account-val" value="{{account.account_passphrase}}" class="form-control" placeholder="Disabled input">
                          </div>
                        </fieldset>
                      </div>
                    </div>

                    <br/>
                    <div class="mb-3 text-white">
                    <p class="text">
                        <i class="bi bi-exclamation-triangle warning-red">
                          You have 24 hours from {{ moment(item.time_posted).format('LLL') }} to raise a complaint upon which a refund can be offered !
                        </i>
                        <p>{{ moment(item.time_posted).format('LLL') }}.</p>
                        <form action="" method="POST">
                          <div class="form-group">
                            {{ accept_form.csrf_token() }}
                            {{ accept_form.seller_id(value = item.seller_id) }}
                            {{ accept_form.account_id(value = item.account_id) }}
                            {{ accept_form.accept(class="btn btn-primary") }}
                            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Close/Open
                            </button>
                          </div>
                        </form>
                        
                       
                        <br/> 
                    </div> 


                  <div class="accordion fm-content" id="accordionExample2">
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <form action="" method="POST">
                          {{ form.csrf_token() }}
                              <!-- Reason -->
                              <div class="form-group">
                                {{ form.reason.label(class="form-control-label text-white") }}
                                {% if form.reason.errors %}
                                    {{ form.reason(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.reason.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.reason(class="form-control form-control-lg") }}
                                {% endif %}
                              </div>
    
                            <!-- Extended Description -->
                            <div class="form-group">
                              {{ form.extended_reason.label(class="form-control-label text-white") }}
                              {% if form.extended_reason.errors %}
                                  {{ form.extended_reason(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                      {% for error in form.extended_reason.errors %}
                                          <span>{{ error }}</span>
                                      {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.extended_reason(class="form-control form-control-lg") }}
                              {% endif %}
                            </div>
                            
                            {{ form.account_id(value=item.account_id) }}
                            {{ form.seller_id(value=item.seller_id) }}
                            <div class="form-group">
                              {{ form.submit(class="btn btn-danger mt-3") }}
                            </div>
                        </form>
                      </div>
                    </div>
                    <p class="text-white">If you are not satisfied with the account, please fill the rejection form here:</p>
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Rejection Form
                      </button>
                    </h2>
                  </div>
                </div>
                <br>

                {% endfor %}                
              {% endif %}
            {% endif %}

            {% if item.type == 3 %}
            <div class="fm-content accepted" id="accepted">
                <form>
                  <fieldset >
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title yellow-text">Successful Purchase Alert</h5>
                          <br>
                          <p class="card-text text-white">
                            We have received your confirmation request for the purchased account. Please wait while we contact the seller
                            for additional account documentation where applicable ie account certificate, license e.t.c. If the account you are purchasing 
                            desn't require such documentation, you can proceed to change the account credentials then start using the account. 
                            <br>                 
                          </p>
                          <div>
                            <form action="" method="POST">
                              {{ purchase_completion.csrf_token() }}
                              {{ purchase_completion.seller_id(value = item.seller_id ) }}
                              {{ purchase_completion.account_id(value = item.account_id ) }}
                              <!-- <button type="submit" class="btn btn-success" name="favorite" value="true">
                                <i class="bi bi-check2-circle" style="font-size:15px;"></i>
                                Complete Purchase
                              </button> -->
                              
                              {{ purchase_completion.completed(class="btn btn-primary mt-3") }}
                            </form>
  
                            <form action="" method="POST">
                              {{ partial_completion.csrf_token() }}
                              {{ partial_completion.seller_id(value = item.seller_id ) }}
                              {{ partial_completion.account_id(value = item.account_id ) }}
                              <!-- <button type="submit" class="btn btn-warning" name="favorite" value="true">
                                <i class="bi bi-three-dots" style="font-size:15px;"></i>
                                Request Additional Account Credentials
                              </button> -->
                              {{ partial_completion.additional_info(class="btn btn-primary mt-3") }}
                            </form>
                          </div>
                          
                          
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3 text-white">
                  <p class="text">
                    <i class="bi bi-exclamation-triangle warning-red">
                      You are advised to change account credentials at this point.
                    </i>   
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>
                      <input class="btn btn-primary" type="submit" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">
                      <br/>                  
                  </div> 
                </form>
              </div>
            {% endif %}

            {% if item.type == 4 %}
            <div class="fm-content accepted" id="accepted">
                <form>
                  <fieldset disabled>
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title warning-red">Failed Purchase Alert</h5>
                          <p class="card-text text-white">
                            We have received the complaint message sent and still reviewing the complaint. We apologize for the account not meeting your expectation and will begin the  
                            refund process within our <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">terms of service</a> .
                            
                            <p class="text-white">
                              You can check out other accounts of the same price range before the refund is executed(Before 24 hours from {{ moment(item.time_posted).fromNow(refresh=True) }} here)
                            </p>
                          </p>                      
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3">
                  
                      <i class="bi bi-exclamation-triangle warning-red">
                      We will issue you with a refund as per our terms of service within 24 hours !
                      </i>
                      <p class="text-white">{{ moment(item.time_posted).format('LLL') }}.</p>
                      
                      <input class="btn btn-primary" type="submit" value="Close">
                      <br/>                  
                  </div> 
                </form>
              </div>
              <!--TOS Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                      <div class="modal-header bg-dark">
                          <h5 class="modal-title text-white" id="exampleModalLabel">Terms Of Service</h5>
                          <button type="button" class="text-white btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body px-2">
                          <ul>
                              <li>One must register to do any transactions within the market place </li>
                              <li> The buyers must do money transaction through the official marketplace accounts using their registered details. If not so, it must be communicated clearly. The buyer must indicate the account ID while doing the verification</li>
                              <li>Transaction will only be complete when the buyer is satisfied with the account. This is when the seller will receive payment and must send other credentials for the account.</li>
                              <li>The seller only send the logins of the account to the buyer for verification.</li>
                              <li>Incase of unmet qualities, the buyer is linked directly to the seller for more account clarification, after which the transaction will be complete or a refund will be initiated.</li>
                              <li>Buyer is given 12hours to reject the account. After receiving all account details and payment is done to the seller, no complains will be accepted.</li>
                              <li>The marketplace is only responsible for the transactions done through the marketplace. Any transaction done outside is at your own risk.</li>
                              <li>The reversal of any fund will constitute a 5% fine + admin fees. </li>
                              <li>f the buyer rejects an account but goes on and change the account details, this will lead to 50-100% fine on the purchase fees.</li>
                              <li>If the seller fails to upload the credentials of the account, this will result to 50-100% fine on the purchased fees.</li>
                          </ul>
                      </div>
                      <div class="modal-footer bg-dark">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                  </div>
                  </div>
                </div>
            {% endif %}
          
          <br>
    {% endfor %}
    {% endif %}

    {% if seller_msg %}
      {% for item in seller_msg %}
              {% if item.type == 0 %}
                <div class="fm-content">
                  <div class="mb-3 title-time-display">
                      <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                      <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                  </div>
                  <div class="mb-3">
                      <div class="card-body">
                        <h5 class="card-title yellow-text">Buyer Intent Alert</h5>
                        <br>
                        <p class="card-text text-white">
                          We have received payment from a buyer for your account. Please provide account details to the admin for account verification.
                        </p>                
                      </div>
                  </div>
                  
                  <br/>

                  <h5 class="card-title yellow-text mb-2">Purchase On Progress Account Details:</h5>
                 
                  <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Account Name</th>
                        <th scope="col">Account Type</th>
                        <th scope="col">Account Brand</th>
                        <th scope="col">Account Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{item.account.account_name}}</td>
                        <td>{{item.account.account_type.value | replace("_", "  ") | title}}</td>
                        <td>{{item.account.brand}}</td>
                        <td>{{item.account.price}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <form action="" method="POST">
                    {{ seller_form.csrf_token }}
                    {{ seller_form.hidden_tag(seller_form.buyer_id(), seller_form.account_id()) }}
             
                        <!-- Seller's account Email -->
                        <div class="form-group">
                          {{ seller_form.account_email.label(class="form-control-label text-white") }}
                          {% if seller_form.account_email.errors %}
                              {{ seller_form.account_email(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in seller_form.account_email.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ seller_form.account_email(class="form-control form-control-lg") }}
                          {% endif %}
                        </div>

                        <!-- Seller's account Url -->
                        <div class="form-group">
                          {{ seller_form.account_url.label(class="form-control-label text-white") }}
                          {% if seller_form.account_url.errors %}
                              {{ seller_form.account_url(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in seller_form.account_url.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ seller_form.account_url(class="form-control form-control-lg") }}
                          {% endif %}
                        </div>

                        <!-- Seller's account Passphrase -->
                        <div class="form-group">
                          {{ seller_form.account_passphrase.label(class="form-control-label text-white") }}
                          {% if seller_form.account_passphrase.errors %}
                              {{ seller_form.account_passphrase(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in seller_form.account_passphrase.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ seller_form.account_passphrase(class="form-control form-control-lg") }}
                          {% endif %}
                        </div>

                        {{ seller_form.buyer_id(value='{}'.format(item.buyer_id)) }}
                        {{ seller_form.account_id(value='{}'.format(item.account.account_id)) }}
                        <div class="form-group">
                          {{ seller_form.submit(class="btn btn-danger mt-3") }}
                        </div>

                  </form>
                  <br>
                  
                  <div class="mb-3 text-white">                 
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>   
                      <input class="btn btn-primary close_accept" type="button" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">       
                      <br/>                  
                  </div> 
              </div>
              <br>

              {% endif %}

              {% if item.type == 3 %}
                 <div class="fm-content">
                  <div class="mb-3 title-time-display">
                      <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                      <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                  </div>
                  <div class="mb-3">
                      <div class="card-body">
                        <h5 class="card-title yellow-text">Additional Information Alert</h5>
                        <br>
                        <p class="card-text text-white">
                          We have received confirmation from the buyer to proceed with the account purchase. If your account requires additional documents ie account certificate, account license e.t.c, you will receive a request 
                          to provide the documents from the buyer shortly. If the account under sale doesn't require such documents you will receive a prompt to enter your account details i.e paypal email or phone number to complete 
                          the payment process. 
                        </p>                
                      </div>
                  </div>
                  
                  <br/>

                  <h5 class="card-title yellow-text mb-2">Purchased Account Details:</h5>
                 
                  <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Account Name</th>
                        <th scope="col">Account Type</th>
                        <th scope="col">Account Brand</th>
                        <th scope="col">Account Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{item.account.account_name}}</td>
                        <td>{{item.account.account_type.value | replace("_", "  ") | title}}</td>
                        <td>{{item.account.brand}}</td>
                        <td>{{item.account.price}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <hr class="text-white">

                  <br>
                  
                  <div class="mb-3 text-white">                 
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>   
                      <input class="btn btn-primary close_accept" type="button" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">       
                      <br/>                  
                  </div> 
              </div>
              <br>
              {% endif %}

              {% if item.type == 4 %}
              <div class="fm-content accepted" id="accepted">
                <form>
                  <fieldset disabled>
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title yellow-text">Failed Purchase Alert</h5>
                          <br>
                          <p class="card-text text-white">
                            The buyer of your account has pulled out from the purchase process. We will review the reason and during this process your account won't be 
                            publicly available in the marketplace for 24 hrs from {{ moment(item.time_posted).fromNow(refresh=True) }}.

                            You are advised to change the account credentials immediately.
                            <br>                 
                          </p>
                          
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3 text-white">
                  <p class="text">
                    <i class="bi bi-exclamation-triangle warning-red">
                      You are advised to change account credentials at this point.
                    </i>   
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>
                      <input class="btn btn-primary" type="submit" value="Close" id="{{ item.id }}" onclick="delete_msg(this)">
                      <br/>                  
                  </div> 
                </form>
              </div>
              {% endif %}

              {% if item.type == 6 %}
              <div class="fm-content accepted" id="accepted">
                <form>
                  <fieldset >
                      <div class="mb-3 title-time-display">
                          <label for="disabledTextInput" class="form-label label-text rounded bg-warning p-2">From: Admin</label>
                          <span class="text-white time-wait"><i class="bi bi-clock-history p-1"></i>{{ moment(item.time_posted).fromNow(refresh=True) }}</span>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <h5 class="card-title yellow-text">Additional Account Information Request</h5>
                          <br>
                          <p class="card-text text-white">
                            The buyer of your account has requested for additional account credentials account credentials i.e. account certificate, account owner phone number, account licenses and any other document relevant to the account. 
                            You may upload them as document form (strictly pdf) or image form.
                            <br> 
                            <div class="pt-2">
                              <button type="button" class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-upload bt-icon me-2"></i>Upload Credentials</button>
                            </div>                
                          </p>
                          
                          
                          <!-- Accordion Upload Account Details -->
                          <div class="col-12 p-3 collapse" id="collapseExample">
                            <div class="card">
                            <div class="card-header font-weight-bold">Available features</div>
                            <div class="card-body">

                              <form method="POST">
                                {{ seller_form_complete.hidden_tag() }}
                                <!-- Account Certificate upload -->
                                <div class="form-group">
                                  {{ seller_form_complete.account_cerificate.label(class="form-control-label text-white") }}
                                  {% if seller_form_complete.account_cerificate.errors %}
                                      {{ seller_form_complete.account_cerificate(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in seller_form_complete.account_cerificate.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ seller_form_complete.account_cerificate(class="form-control form-control-lg") }}
                                  {% endif %}
                                </div>
        
                              <!-- Account License upload -->
                                <div class="form-group">
                                  {{ seller_form_complete.account_license.label(class="form-control-label text-white") }}
                                  {% if seller_form_complete.account_license.errors %}
                                      {{ seller_form_complete.account_license(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in seller_form_complete.account_license.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ seller_form_complete.account_license(class="form-control form-control-lg") }}
                                  {% endif %}
                                </div>

                                <!-- Seller's Phone number -->
                                <div class="form-group">
                                  {{ seller_form_complete.account_owner_number.label(class="form-control-label text-white") }}
                                  {% if seller_form_complete.account_owner_number.errors %}
                                      {{ seller_form_complete.account_owner_number(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in seller_form_complete.account_owner_number.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ seller_form_complete.account_owner_number(class="form-control form-control-lg") }}
                                  {% endif %}
                                </div>

                              </form>

                            </div>
                            <div class="card-footer">
                              {{ seller_form_complete.submit(class="btn btn-danger") }}
                            </div>
                          </div>
                      </div>
                          
                          
                      </div>
                  </fieldset>
                  <br/>
                  <div class="mb-3 text-white">
                      <p>{{ moment(item.time_posted).format('LLL') }}.</p>
                      <button type="submit" class="btn btn-primary" id="{{ item.id }}" onclick="delete_msg(this)"><i class="bi bi-x-square me-1"></i>Close</button>
                      <br/>                  
                  </div> 
                </form>
              </div>
              {% endif %}
              
      {% endfor %}      
    {% endif %}
    

    {% if not buyer_msg and not seller_msg %}
    <p>You have no notifications.</p>
    <input type="button" class="btn btn-dark" value="Go back!" onclick="history.back()">
    {% endif %}
      

  
</div>
</main>

    
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4 sidebar">
    <div class="content-section">
      <!-- Sell Account Details -->
      <h3 class="side-title">Sell Account</h3>
      <p class='text-muted side-text'>Place an ad on an account you want to sell.
        <!--Widget Start-->
        <div class="card-body card-sidebar color1">
          <div class="float-left">
            <p>Account Ad</p>
              <h3>
                  <span class="currency">Sell</span>
              </h3>
            
          </div>
          <div class="float-right">
            <i class="bi bi-cash-coin"></i>
          </div>
        </div>
        <!--Widget End-->
      </p>
      <div class="d-grid gap-2 col-11 mx-auto">
        <a href="{{ url_for('main.seller') }}" role="button" class="btn btn-warning">Sell Account</a>
      </div>
      <br/>
      <hr class="text-white">

      <h3 class="side-title">Buy Account</h3>
      <p class='text-muted side-text'>View marketplace to explore listings on accounts for sale.
       <!--Widget Start-->
       <div class="card-body card-sidebar color2">
        <div class="float-left">
          <p>Visit</p>
            <h3>
                <span class="currency">Listings</span>
            </h3>
          
        </div>
        <div class="float-right">
          <i class="bi bi-cart4"></i>
        </div>
      </div>
      <!--Widget End-->
      </p>
      <div class="d-grid gap-2 col-11 mx-auto">
        <a href="{{ url_for('main.viewpage') }}" role="button" class="btn btn-warning">Visit Marketplace</a>
      </div>
      <br/>
      <hr class="text-white">


      <h3 class="side-title">Customer Support</h3>
      <p class='text-muted side-text'>Our Support center is always one call away.
       <!--Widget Start-->
       <div class="card-body card-sidebar color4">
        <div class="float-left">
          <p>Client</p>
            <h3>
                <span class="currency">Support</span>
            </h3>
        </div>
        <div class="float-right">
          <i class="bi bi-headset"></i>
        </div>
      </div>
      <!--Widget End-->
      </p>
     

    </div>
  </div>
  <br/>
  
{% endblock sidebar %}

{% block footer %}
<div class="border-top pt-3"></div>
<div class="footer-container">
  <footer class="py-5">
    <div class="row">

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Get In Touch</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-geo-alt-fill mr-2"></i>Juja</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-telephone-fill mr-2"></i>+254717010172</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-envelope-fill mr-2"></i>bushwriters@gmail.com</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-whatsapp mr-2"></i>+254717010172</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-headset mr-2"></i>Customer Support, Sun - Fri, 7AM-10PM</p></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ url_for('main.viewpage') }}" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.guide') }}" class="nav-link p-0 footer-color">Guide</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.seller') }}" class="nav-link p-0 footer-color">Become A Seller</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.contact_us') }}" class="nav-link p-0 footer-color">Contact Us</a></li>
        </ul>
      </div>

      

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="text-white">Subscribe to our newsletter</h5>
          <p class="footer-color">Monthly digest of what's new and exciting from us.</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's email input" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-white">&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <i class="bi bi-twitter p-2 text-white"></i>
        <i class="bi bi-instagram p-2 text-white"></i>
        <i class="bi bi-facebook p-2 text-white"></i>
        <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock footer %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script>
  
    const delete_msg = (e) => {
        let ref = e.id
        console.log(ref)
        // post message id to backend
        $.ajax({
          type: "POST",
          url: "{{url_for('main.delete_msg') }}",
          data: {"ref" : ref },
          dataType: 'json',
          
        })
        
        // reload window to trigger change
        window.location.reload();
    }

  </script>
{% endblock scripts %}
  

