{% extends 'base.html' %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card-styles.css') }}" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
     <div class="container mt-2">
        <div class="carousel-background">
          <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
              
              {% for image in images %}
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/account_images/'+image.image_files) }}" class="d-block w-100" alt="...">
              </div>
              {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

          <!-- Picture gallery -->
          <section class="gallery">
            <div class="container-lg">
              <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                  {% for image in images %}
                  <div class="col">
                    
                    <img src="{{ url_for('static', filename='images/account_images/'+image.image_files) }}" class="gallery-item" alt="gallery">
                  </div>
                  {% endfor %}
                  
                  
              </div>
            </div>
          </section>

          <!-- Modal -->
          <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="modal-img" alt="modal img">
                </div>
              </div>
            </div>
          </div>
          <!-- End Gallery Section -->

          <!-- Content section -->
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3 product-content">
                <h2 class="text-white mb-2 fw-bold fs-1">{{ account.account_type.value | replace("_", "  ") | title }}</h2>
                <div class="mb-3 title-time-display">
                  <span class="text-white"><i class="bi bi-clock-history p-1"></i>Posted: {{ moment(account.time_posted).fromNow(refresh=True) }}</span>
                </div>
                <div class="mb-3 publication-display">
                  <span class="text-white"><i class="bi bi-book"></i>Publication: {{ account.brand | title }}</span>
                </div>
                <header>Description:</header>
                <div class="rounded bg-light p-2 mb-3">
                  <p class="text-dark">{{ account.description }}</p>
                </div>
                <!-- <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-primary" type="button">Purchase</button>
                  <button class="btn btn-success" type="button">View Profile</button>
                </div> -->
                <div>
                  <button class="btn btn-primary" type="button">Purchase</button>
                  <button class="btn btn-success" type="button">View Profile</button>
                </div>
              </div>
            </div>
            
          </div>
    </div>
    
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4">
    <div class="content-section">
      <h3>Our Sidebar</h3>
      <!-- card widget container -->
              <!--Widget Start-->
              <div class="card-body color1">
                <div class="float-left">
                    <h3>
                        <span class="currency">Ksh</span>
                       
                        <span class="count"> {{ "{:,.0f}".format(account.price ) }}</span>
                    </h3>
                    <p>Price</p>
                </div>
                <div class="float-right">
                  <i class="bi bi-cash-stack"></i>
                </div>
            </div>
            <!--Widget End-->
            <!--Widget Start-->
            <div class="card-body color2">
                <div class="float-left">
                    <h3>
                        <span class="count">345</span>
                    </h3>
                    <p>Clients</p>
                </div>
                <div class="float-right">
                    <i class="pe-7s-users"></i>
                </div>
            </div>
            <!--Widget End-->
            <!--Widget Start-->
            <div class="card-body color3">
                <div class="float-left">
                    <h3>
                        <span class="count">4365</span>
                    </h3>
                    <p>Templates</p>
                </div>
                <div class="float-right">
                    <i class="pe-7s-browser"></i>
                </div>
            </div>
          <!--Widget End-->
    </div>
  </div>
{% endblock sidebar %}
  
    