{% extends 'base.html' %}


{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card-styles.css') }}" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
{% endblock stylesheets %}
  
{% block content %}
     <div class="container mt-2">
        <div class="carousel-background">
          <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
              {% if images %}
                {% for image in images %}
                  <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/account_images/'+image.image_files) }}" class="d-block w-100" alt="...">
                  </div>
                {% endfor %}
              {% else %}
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/assets/blank_image.jpg') }}" class="d-block w-100" alt="...">
                </div>
              {% endif %}
              
              

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

          <!-- Picture gallery -->
          <section class="gallery">
            <div class="container-lg">
              <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                  {% for image in images %}
                  <div class="col">
                    <img src="{{ url_for('static', filename='images/account_images/'+image.image_files) }}" class="gallery-item" alt="gallery">

                      <!-- Modal -->
                      <div class="modal fade {{ image.image_files }}" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img class="modal-img" alt="modal img">
                          </div>
                          {% if account.user_id == current_user.id %}
                          <div>
                            <button type="button" class="btn btn-danger ms-3 mb-2" data-bs-toggle="modal" data-bs-target="#upload-image" id="{{ image.id }}" onclick="delete_photo(this)">Delete Image</button>
                          </div>
                          {% endif %}
                          </div>
                        </div>
                      </div>

                  </div>

                  


                  {% endfor %}
                  
                  
              </div>
            </div>
          </section>

          
          <!-- End Gallery Section -->

          <!-- Content section -->
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3 product-content">
                <div class="mb-3">
                  <h2 class="text-white mb-2 fw-bold fs-1">{{ account.account_type.value | replace("_", "  ") | title }}</h2>
                </div>
                <div class="mb-3 title-time-display">
                  <span class="text-white"><i class="bi bi-clock-history p-1"></i>Posted: {{ moment(account.time_posted).fromNow(refresh=True) }}</span>
                </div>
                <div class="mb-3 publication-display">
                  <span class="text-white"><i class="bi bi-book"></i>Publication: {{ account.brand | title }}</span>
                </div>
                <header>Description:</header>
                <div class="rounded bg-light p-2 mb-3">
                  <p class="text-dark">{{ account.description }}</p>
                </div>
                
                <div>
                  {% if account.user_id != current_user.id %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#payment-form">Purchase</button>
                  <a href="{{ url_for('main.user_profile', id = account.user_id ) }}" role="button" class="btn btn-success">View Profile</a>      
                  {% else %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload-image">Upload Images</button>
                  {% endif %}
                  
                </div>
              </div>
            </div>
            
          </div>
          
          <!-- Upload Images Form -->
          <div class="modal fade" id="upload-image" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="" enctype="multipart/form-data" >
                    {{ upload_form.csrf_token() }}
                    {{ upload_form.account_id(value = account.account_id) }}
                    {% for error in upload_form.photo.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {{ upload_form.photo(class = 'form-control') }}
                        </div>
                        
                    </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div class="col-auto">
                      {{ upload_form.upload(class = 'btn btn-success') }}
                    
                  </div>
                  </div>
              </form>
              </div>
            </div>
          </div>

          <!-- Payment Modal -->
          <div class="modal fade" id="payment-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white" id="staticBackdropLabel">Purchase Options</h5>
                  <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h5>Choose Payment Option</h5>
                    <hr>
                    <h5>Use the dropdown below to select your payment method.</h5>
                    <form action="" method="POST">

                        {{ purchase_form.csrf_token }}
                        {{ purchase_form.hidden_tag(purchase_form.info()) }}

                        {{ purchase_form.info(value='{}'.format(account.account_id)) }}
                        {{ purchase_form.payment_method() }}
                        <hr>
                        <p>
                            {{ purchase_form.submit(class="btn btn-secondary") }}
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Exit</button>
                        </p>
                        
                    </form>
                </div>
                <div class="modal-footer bg-dark">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <br>
    
{% endblock content %}


{% block sidebar %}
  <div class="col-md-4 sidebar">
    <div class="content-section">
      <h3 class="text-white">Account Information</h3>
      
      <hr class="text-white">
      <!-- card widget container -->
      <p class="text-white">This account is valued at:</p>
              <!--Widget Start-->
              <div class="card-body card-sidebar color1">
                <div class="float-left">
                  <p>Price</p>
                    <h3>
                        <span class="currency">Ksh</span>
                       
                        <span class="count"> {{ "{:,.0f}".format(account.price ) }}</span>
                    </h3>
                   
                </div>
                <div class="float-right">
                  <i class="bi bi-cash-stack"></i>
                </div>
            </div>
            <!--Widget End-->
            <hr class="text-white">

            <p class="text-white">This account is from the publication:</p>
            <!--Widget Start-->
            <div class="card-body card-sidebar color2">
                <div class="float-left">
                  <p>Publication</p>
                    <h3>
                        <span class="count">{{ account.brand }}</span>
                    </h3>
                    
                </div>
                <div class="float-right">
                  <i class="bi bi-journal-text"></i>
                </div>
            </div>
            <!--Widget End-->
            <hr class="text-white">

            <p class="text-white">This account has a rating of:</p>
            <!--Widget Start-->
            <div class="card-body card-sidebar color3">
                <div class="float-left">
                  <p>Rating</p>
                    <h3>
                        <span class="count">High</span>
                    </h3>
                    
                </div>
                <div class="float-right">
                  <i class="bi bi-patch-check-fill"></i>
                </div>
            </div>
          <!--Widget End-->
    </div>
  </div>
{% endblock sidebar %}


{% block footer %}
<div class="border-top pt-3"></div>
<div class="footer-container">
  <footer class="py-5">
    <div class="row">

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Get In Touch</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-geo-alt-fill mr-2"></i>Juja</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-telephone-fill mr-2"></i>+254743635629</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-envelope-fill mr-2"></i>bushwriters@gmail.com</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-whatsapp mr-2"></i>+254743635629</p></li>
          <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-headset mr-2"></i>Customer Support, Sun - Fri, 7AM-10PM</p></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ url_for('main.viewpage') }}" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.guide') }}" class="nav-link p-0 footer-color">Guide</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.seller') }}" class="nav-link p-0 footer-color">Become A Seller</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.contact_us') }}" class="nav-link p-0 footer-color">Contact Us</a></li>
        </ul>
      </div>

      

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="text-white">Subscribe to our newsletter</h5>
          <p class="footer-color">Monthly digest of what's new and exciting from us.</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's email input" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-white">&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <i class="bi bi-twitter p-2 text-white"></i>
        <i class="bi bi-instagram p-2 text-white"></i>
        <i class="bi bi-facebook p-2 text-white"></i>
        <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock footer %}
    
{% block scripts %}
  <script type="text/javascript" src = "{{url_for('static', filename = 'js/photo_modal.js')}}" ></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <script>
  
    const delete_photo = (e) => {
        let ref = e.id
        console.log(ref)
        // post message id to backend
        $.ajax({
          type: "POST",
          url: "{{url_for('main.delete_image') }}",
          data: {"ref" : ref },
          dataType: 'json',
          
        })
        
        // reload window to trigger change
        window.location.reload();
    }

  </script>
{% endblock scripts %}
      