{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/success_prompt.css') }}" >
<div class="row py-5 px-4 user_profile">
    <div class="col-md-12 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden profile_section">
            <div class="px-4 pt-0 pb-4 cover custom-top">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3 mb-3">
                        <img
                            src="{{url_for('static', filename='images/profile_pics/{}'.format(account_holder.profile_photo) )}}"
                            alt="..."
                            width="130"
                            class="rounded-circle mb-2 img-thumbnail"
                        />
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ account_holder.username | title }}</h4>
                        <a
                            href="/update"
                            class="btn btn-outline-dark btn-sm btn-block"
                            >Edit profile</a
                        >
                        
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">          
                        <h5 class="font-weight-bold mb-0 d-block">{{ accounts | count }}</h5>
                        <small class="text-muted">
                            <i class="fas fa-image mr-1"></i>Account Ads</small
                        >
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Web Developer</p>
                    <p class="font-italic mb-0">Lives in New York</p>
                    <p class="font-italic mb-0">Photographer</p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div
                    class="d-flex align-items-center justify-content-between mb-3"
                >
                    <h5 class="mb-0">Recent Accounts Ads</h5>
                    <a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">

                    {% if accounts %}
                        {% for item in accounts %}                         
                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <div class="card" style="width: 18rem;">
                                {% set random_no = range(1, 4)|random|string() %}        
                                {% if item.account_type.value == 'article_account' %} 
                                <img class="display_image img-fluid rounded shadow-sm" src="{{url_for('static', filename='images/img/article'+random_no+'.png')}}"/>
                                {% elif item.account_type.value == 'academic_writing_account' %}
                                <img class="display_image img-fluid rounded shadow-sm" src="{{url_for('static', filename='images/img/academic'+random_no+'.png')}}"/>
                                {% else %}
                                <img class="display_image img-fluid rounded shadow-sm" src="{{url_for('static', filename='images/img/blog'+random_no+'.png')}}"/>
                                {% endif %}
                                <div class="card-body">
                                <h5 class="card-title">{{ item.account_type.value | replace("_", "  ") | title }}</h5>
                                <p class="card-text">{{ item.description }}.</p>
                                <a href="#" class="btn btn-primary">Ksh {{ item.price }}</a>
                                <a href="/product_view" class="btn btn-primary view-btn">View</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                            <p>No account add created.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4">
    <div class="content-section">
      <h3>Sell Account</h3>
      <p class='text-muted'>Place an add on an account you want to sell.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>

      <br/>

      <h3>Buy Account</h3>
      <p class='text-muted'>View marketplace to explore listings on accounts for sale.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>
  </div>
  <br/>
  
{% endblock sidebar %}