{% extends 'view_base.html' %}

{% block navbar %}
{% if notification == true %}
    
    <a class="nav-item nav-link rounded notification-anchor"  href="{{ url_for('main.chat', id=current_user.id) }}">
    <button type="button" class="btn rounded position-relative notification-btn">
        <i class="bi bi-bell"></i>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    </button>
    </a> 
   
{% endif %}
{% endblock navbar%}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_listing.css') }}" >
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> 
{% endblock stylesheets %}


    
{% block content %}
<div class="container">
    <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
        <div class="grid search">
        <div class="grid-body">
            <div class="row">
            <!-- BEGIN FILTERS -->
            
            {% block filters %}
                
            <div class="col-md-3 filter">
                <form action="" method="POST">
                    {{ filter_form.csrf_token }}
                    <h2 class="grid-title"><i class="bi bi-search"></i> Filters</h2>
                    <hr>

                  
                    
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h4>By category:</h4>
                    <div class="">
                    <label>{{ filter_form.article_ac(class="icheck") }} Article Account</label>
                    </div>
                    <div class="">
                    <label>{{ filter_form.academic_ac(class="icheck") }} Academic Writing Account</label>
                    </div>
                    <div class="">
                    <label>{{ filter_form.blogging_ac(class="icheck") }} Blogging Account</label>
                    </div>
                    <hr>
                    
                    <!-- END FILTER BY CATEGORY -->
                    
                    <div class="padding"></div>
                    
                    
                    <!-- BEGIN FILTER BY PRICE -->
                    <h4>By price:</h4>
                    Between
                    <div class="input-group mb-3">
                        <span class="input-group-text">Ksh</span>
                        {{ filter_form.price_range_a(class="form-control") }}
                    </div>
                    To
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Ksh</span>
                        </div>
                        {{ filter_form.price_range_b(class="form-control") }}
                      </div>
                  
                    <br>
                <!-- END FILTER BY PRICE -->
                {{ filter_form.apply(class="btn btn-dark") }}
                </form>
            </div>

            {% endblock filters %}
            <!-- END FILTERS -->


            <!-- BEGIN RESULT -->
            <div class="col-md-9">
                {% if logged_in_user %}
                    <h2><i class="bi bi-house-fill"></i> Welcome {{ logged_in_user.username | title }}</h2>
                {% else %}
                    <h2><i class="bi bi-house-fill"></i> Welcome </h2>
                {% endif %}
                
                
                <hr>
                                
                <!-- BEGIN SEARCH INPUT -->
                <form action="{{ url_for('main.search_results') }}" method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="input-group">
                        <!-- search Field -->
                        <div class="input-group mb-3">
                            {% if form.keyword.errors %}
                                {{ form.keyword(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.keyword.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.keyword(class="form-control", placeholder='Enter keyword to search account description') }}
                            {% endif %}

                            <span class="input-group-btn">
                                <button class="btn btn-primary" name = 'search' type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        
                        
                    </div>
                </form>
                
                <!-- END SEARCH INPUT -->
                
                {% block result %}
                    
                {% endblock result %}
                    
                
                
                <div class="padding"></div>
                
                <div class="row">
                <!-- BEGIN ORDER RESULT -->
                <div class="dropdown col-sm-6">
                    <div class="btn-group">
                        
                        {% block order_by %}
                        <button class="btn btn-secondary" type="button">
                            Order By
                            </button>
                            
                            <form action="" method="POST">
                                {{ order.csrf_token }}
                                {{ order.hidden_tag() }}
                                <div class="btn-group" role="group" >
                                    {{ order.account_type(class = "custom-select mr-sm-2") }}
                                    {{ order.submit(class = "btn btn-secondary mr-3 rounded") }}
                                </div>
                            </form>
                        {% endblock order_by %}
                                
                        
                        {% block search_back %}{% endblock search_back %}
                    </div>    
                </div>

                <!-- END ORDER RESULT -->
                
                
                </div>
                
                <!-- BEGIN TABLE RESULT -->
                {% block search %}
                <div class="container mt-2 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10">
                            {% for item in account.items %}

                                <div class="row p-2  border rounded mb-2 listing-item">
                                    <!-- <div class="col-md-3 mt-1">{{ loop.index }}</div> -->
                                    {% set account_id = item.account_id %}
                                    {% set random_no = range(1, 4)|random|string() %}        
                                    {% if item.account_type.value == 'article_account' %} 
                                    <div class="col-md-3 no_bg_color mt-1"><img class="img-fluid img-responsive rounded" src="{{url_for('static', filename='images/img/article'+random_no+'.png')}}"></div>
                                    {% elif item.account_type.value == 'academic_writing_account' %}
                                    <div class="col-md-3 no_bg_color mt-1"><img class="img-fluid img-responsive rounded" src="{{url_for('static', filename='images/img/academic'+random_no+'.png')}}"></div>
                                    {% else %}
                                    <div class="col-md-3 no_bg_color mt-1"><img class="img-fluid img-responsive rounded" src="{{url_for('static', filename='images/img/blog'+random_no+'.png')}}"></div>
                                    {% endif %}

                                    <div class="col-md-6 mt-1">
                                        <h5>{{ item.account_type.value | replace("_", "  ") | title }}</h5>
                                        <div class="d-flex flex-row">
                                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                        </div>
                                        <br>
                                        <p class="text-justify text-truncate para mb-0"> {{ item.description }}.<br><br></p>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 no_bg_color border-left mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1">Ksh {{ item.price }}</h4>
                                        </div>
                                      
                                        <div class="d-flex flex-column position_btn">
                                            
                                                <button class="btn btn-success btn-sm btn-purchase" type="button" data-toggle="modal" data-target="#exampleModal">
                                                    Purchase
                                                </button>

                                                <a href="{{url_for('main.product_view', item_id=item.account_id)}}" class="btn btn-primary btn-sm mt-2">View</a>
                                              
                                           
                                        </div>
                                    </div>
                                </div>

                                <!-- Purchase button trigger modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        {% if current_user.is_authenticated %}
                                            <div class="modal-header bg-dark">
                                                <h5 class="modal-title text-white" id="exampleModalLabel">Purchase Options </h5>
                                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Choose Payment Option</h5>
                                                    <!-- <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p> -->
                                                    <hr>
                                                    <h5>Use the dropdown below to select your payment method.</h5>
                                                    <form action="" method="POST">
                
                                                        {{ purchase_form.csrf_token }}
                                                        {{ purchase_form.hidden_tag(purchase_form.info()) }}
        
                                                        {{ purchase_form.info(value='{}'.format(item.account_id)) }}
                                                        {{ purchase_form.payment_method(class = "form-select") }}
                                                        <hr>
                                                        <p>
                                                            {{ purchase_form.submit(class="btn btn-secondary") }}
                                                            <button type="button" class="btn btn-success" data-dismiss="modal">Exit</button>
                                                        </p>
                                                        
                                                    </form>
                                                    
                                                </div>
                                        
                                                {% else %}
                                                <div class="modal-header bg-dark">
                                                    <h5 class="modal-title text-white" id="exampleModalLabel">Not Logged In!</h5>
                                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>Log In to purchase account!</h5>
                                                        <!-- <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p> -->
                                                        <hr>
                                                        <h5>One must be logged in to purchase an account.</h5>
                                                        <a href="{{ url_for('auth.login') }}" role="button" class="btn btn-success popover-test" title="Popover title" data-content="Go to login page.">Login/Register</a>
                                                    </div>
                                               
                                        {% endif %}
                                            
                                        
                                        <div class="modal-footer bg-dark">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        
                            {% endfor %}
                           
                        {% endblock search %}
                        
                            
                            <div class="row p-2 bg-white border rounded mt-2">
                                <div class="col-md-6 mt-1">
                                    <p class="text-justify text-truncate para home-end mb-0">There are many variations of passages of Lorem Ipsum available, 
                                        but the majority have suffered alteration in some form, by injected humour, 
                                        or randomised words which don't look even slightly believable.
                                        <br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
                <!-- END TABLE RESULT -->
                
                
                {% block search_pagination %}
                <!-- BEGIN PAGINATION -->
                {% for page_number in account.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_number %}
                            {% if account.page == page_number %}
                                <a class="btn btn-info mb-4" href="{{ url_for('main.viewpage', page=page_number) }}">{{ page_number }}</a>
                            {% else %}
                                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.viewpage', page=page_number) }}">{{ page_number }}</a>
                            {% endif %}                            
                        {% else %}
                                ...
                        {% endif %}
                {% endfor %}

                    
                {% endblock search_pagination %}
                    
            </div>
            <!-- END RESULT -->
            </div>
        </div>
        </div>
    </div>
    <!-- END SEARCH RESULT -->
    </div>
    </div>

    
    
{% endblock content %}

{% block footer %}
<div class="border-top pt-3"></div>
<div class="footer-container">
  <footer class="py-5">
    <div class="row">

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Get In Touch</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-geo-alt-fill mr-2"></i>Juja</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-telephone-fill mr-2"></i>+254743635629</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-envelope-fill mr-2"></i>bushwriters@gmail.com</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-whatsapp mr-2"></i>+254743635629</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0 footer-color"><i class="bi bi-headset mr-2"></i>Customer Support, Sun - Fri, 7AM-10PM</p></li>
          </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ url_for('main.viewpage') }}" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.guide') }}" class="nav-link p-0 footer-color">Guide</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.seller') }}" class="nav-link p-0 footer-color">Become A Seller</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('main.contact_us') }}" class="nav-link p-0 footer-color">Contact Us</a></li>
        </ul>
      </div>

      

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="text-white">Subscribe to our newsletter</h5>
          <p class="footer-color">Monthly digest of what's new and exciting from us.</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's email input" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-white">&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <i class="bi bi-twitter p-2 text-white"></i>
        <i class="bi bi-instagram p-2 text-white"></i>
        <i class="bi bi-facebook p-2 text-white"></i>
        <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock footer %}
    

{% block scripts %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" ></script>

{% endblock scripts %}
    