{% extends 'admin/model/list.html' %}


{% block menu_links %}

<button type="button" class="btn btn-danger" href="{{ url_for('admin.static', filename='complaint_claims.html') }}"><i class="fa fa-bell fa-fw"></i><span class="badge badge-warning badge-pill">{{ number }}</span></button>

{% endblock %}

{% block tail %}
    {{ super() }}
    
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ number }}</div>
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            <a href="/admin/on_progress/confirmations" class="text-white">click here</a>
          </p>
          
        </div>
      </div>
      
{% endblock %}


