@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Roboto';
    max-width: 100% !important;
    background-image: url('/static/images/assets/patternpad_3.svg'); 
   
  }
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

a{
  text-decoration: none;
}

.navbar-color{
  background-color: #2f6c6c;
}
.bg-steel {
  background-color: #5f788a;
}

.navbar{
  /* position: fixed !important; */
  border-radius: 0px !important; 
}

.price{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.grid-title{
  padding-top: 2em;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #2f6c6c;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  margin-bottom: 20px;
  opacity: 0.95;
}

.article-title {
  color: #428bca;
  text-decoration: none;
}

a.article-title:hover {
  color: #071264;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
}

.article-author{
  text-decoration: none;
}


.col-md-3{
  width: 25%;
  /* position: relative; */
  /* right: 7em; */
  background: gainsboro;
}

.fa-star, .fa-star-half-o {
  color: gold;
}

.table-responsive{
  width: 63.5vw;
}

.list-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

/* Account section */
.account-section{
  background: #fff;
  display: flex;
  flex-direction: row;
}

.account-header1{
  width: 20vw;
}

.account-header2{
  width: 20vw;
}

.account-header3{
  width: 6vw;
}

.empty-header1{
  width: 2vw;
}

.empty-header2{
  width: 17vw;
}

.product{
  width: 22em;
}

.account-type{
  padding: 20px;
    font-size: x-large;
}

.description{
  padding: 20px;
  font-size: medium;
  border-radius: 12px;
  height: 10em;
  background: #a5b3b730;
}

.rate{
  width: 7em;
}

.price{
  width: 12.5em;
  font-size: medium;
  padding-right: 38px;
}

/* images in view accounts section */

.display_image{
  padding: 2px !important;
  height: 14em;
  width: 16em;
  border: solid 4px #000;
}

/* user profile section  */
.profile{
  background: #2f6c6c;
  border-radius: 12px;
}
.img-thumbnail{
  margin: 12px;
}
.profile-head {
  transform: translateY(5rem)
}

.profile_section{
  display: flex;
  flex-direction: column;
}

.user_profile{
  padding-top: 1rem!important;
}

.rounded{
  border-radius: 10px;
}

.custom-top{
  margin-top: -40px;
}

.btn-block{
  margin-bottom: 10px;
}

.media-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

/* profile page cards */
.card {
  margin: 5px 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 5px;
}

.view-btn{
  margin-left: 80px;
}

.pr4{
  padding: 15px;
}

.nav-container1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* chat */
.fm-content{
  background: #22394a;
  padding: 20px;
  border-radius: 12px;
  
}

.accordion-button{
  background-color: #d1d1d1 !important;
}

.warning-red{
  color: red;
}

.label-text{
  color: #22394a;
}

.title-time-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publication-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.bi-book{
  padding: 6px;
}

.time-wait{
  padding: 10px;
}

/* modal */
.list-payment{
  left: 12em;
}

.footer-container{
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1224%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1225)'%3e%3c/rect%3e%3cpath d='M1440 0L1062.03 0L1440 278.75z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1062.03 0L1440 278.75L1440 281.25L1035.59 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1035.59 0L1440 281.25L1440 300.21L417.05999999999995 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M417.05999999999995 0L1440 300.21L1440 305.87L391.55999999999995 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L17.1 560L0 330.24z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 330.24L17.1 560L346.04 560L0 241.18z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 241.18L346.04 560L864.97 560L0 119.15z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 119.14999999999998L864.97 560L1001.63 560L0 110.05999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1224'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1225'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(226%2c 233%2c 241%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  /* margin: 0px; */
  /* background-image: url('/static/images/assets/Oreti.png'); */
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1478%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1479)'%3e%3c/rect%3e%3cpath d='M0 0L502.94 0L0 784.85z' filter='url(%23SvgjsFilter1480)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M0 560L502.94 560L0 -224.85000000000002z' filter='url(%23SvgjsFilter1480)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 560L937.06 560L1440 -224.85000000000002z' filter='url(%23SvgjsFilter1480)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 0L937.06 0L1440 784.85z' filter='url(%23SvgjsFilter1480)' fill='%232d409e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1478'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1479'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(146%2c 178%2c 220%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cfilter height='130%25' id='SvgjsFilter1480'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");*/
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1624%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1625)'%3e%3c/rect%3e%3cpath d='M0 0L590.67 0L0 518.89z' filter='url(%23SvgjsFilter1626)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M0 560L590.67 560L0 41.110000000000014z' filter='url(%23SvgjsFilter1626)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1440 560L849.33 560L1440 41.110000000000014z' filter='url(%23SvgjsFilter1626)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1440 0L849.33 0L1440 518.89z' filter='url(%23SvgjsFilter1626)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1624'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1625'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 178%2c 227%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cfilter height='130%25' id='SvgjsFilter1626'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2682%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2683)'%3e%3c/rect%3e%3cpath d='M0 0L590.67 0L0 518.89z' filter='url(%23SvgjsFilter2684)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M0 560L590.67 560L0 41.110000000000014z' filter='url(%23SvgjsFilter2684)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1440 560L849.33 560L1440 41.110000000000014z' filter='url(%23SvgjsFilter2684)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1440 0L849.33 0L1440 518.89z' filter='url(%23SvgjsFilter2684)' fill='rgba(47%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2682'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2683'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(25%2c 124%2c 128%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cfilter height='130%25' id='SvgjsFilter2684'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
  padding-left: 60px;
  padding-right: 60px;
  max-width: 100% !important;

}

.footer-color{
  color: #b9eb24;
}

.sidebar{
  border-radius: 10px;
}

.side-title{
  color: #000 !important;
}

.side-text{
  color: #fff !important;
}

.login-form{
  background-color: #102c2c;
  border-radius: 10px;
  opacity: 0.9;
}

.register-form{
  background-color: #102c2c;
  border-radius: 10px;
  opacity: 0.9;
}


/* mpesa page */
.phone-input{
  width: 12em;
}