body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.navbar{
  /* position: fixed !important; */
  border-radius: 0px !important; 
}

.price{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.grid-title{
  padding-top: 2em;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #428bca;
  text-decoration: none;
}

a.article-title:hover {
  color: #071264;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/* .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
} */

.account-heading {
  font-size: 2.5rem;
}

.article-author{
  text-decoration: none;
}


.col-md-3{
  width: 25%;
  position: relative;
  right: 7em;
  background: gainsboro;
}

.fa-star, .fa-star-half-o {
  color: gold;
}

/* .row{
  width: 90vw;
} */

.table-responsive{
  width: 63.5vw;
}

/* Account section */
.account-section{
  background: #fff;
  display: flex;
  flex-direction: row;
}

.account-header1{
  width: 20vw;
}

.account-header2{
  width: 20vw;
}

.account-header3{
  width: 6vw;
}

.empty-header1{
  width: 2vw;
}

.empty-header2{
  width: 17vw;
}

.product{
  width: 22em;
}

.account-type{
  padding: 20px;
    font-size: x-large;
}

.description{
  padding: 20px;
  font-size: medium;
  border-radius: 12px;
  height: 10em;
  background: #a5b3b730;
}

.rate{
  width: 7em;
}

.price{
  width: 12.5em;
  font-size: medium;
  padding-right: 38px;
}

/* images in view accounts section */

.display_image{
  padding: 2px !important;
  height: 15em;
  width: 16em;
  border: solid 4px #000;
}

/* user profile section  */
.profile{
  background: #2f6c6c;
  border-radius: 12px;
}
.img-thumbnail{
  margin: 12px;
}
.profile-head {
  transform: translateY(5rem)
}

.profile_section{
  display: flex;
  flex-direction: column;
}

.user_profile{
  padding-top: 1rem!important;
}

.rounded{
  border-radius: 10px;
}

.custom-top{
  margin-top: -40px;
}

.btn-block{
  margin-bottom: 10px;
}

.media-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

/* profile page cards */
.card {
  margin: 5px 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 5px;
}

.view-btn{
  margin-left: 80px;
}

.pr4{
  padding: 15px;
}

.nav-container1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* chat */
.fm-content{
  background: #22394a;
  padding: 20px;
  border-radius: 12px;
  
}

.label-text{
  color: #22394a;
}

.title-time-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-wait{
  padding: 10px;
}

